<section class="content">
  <div class="content-block">
    @for (breadscrum of breadscrums; track breadscrum) {
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    }
    <!-- Your content goes here  -->















<!-- Placements -->

<hr>
<div class="container py-4">
  <h3 class="text-center mb-4">Add Placements Description</h3>
<form [formGroup]="placementForm" (ngSubmit)="submitPlacementForm()">
  <div class="mb-3">
    <label>Placement Description</label>
    <textarea formControlName="paragraph" class="form-control" placeholder="Enter placement details"></textarea>
  </div>

  <div class="mb-3">
    <button type="submit" class="btn btn-success">Submit</button>
    <button type="button" class="btn btn-danger" (click)="placementForm.reset()">Cancel</button>
  </div>
</form>

</div>








  </div>
</section>