<section class="content">
  <div class="content-block">
    @for (breadscrum of breadscrums; track breadscrum) {
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    }
    <!-- Your content goes here  -->

  <div class="container">
    <h3 class="text-center">Add About Us Image</h3>
    <form (ngSubmit)="submitAboutUsImage()" enctype="multipart/form-data">
  <div class="mb-3">
    <label>Upload About Us Image</label>
    <input type="file" (change)="onAboutUsImageSelected($event)" class="form-control">
  </div>

  <div class="mb-3">
    <button type="submit" class="btn btn-success">Upload Image</button>
    <button type="button" class="btn btn-danger" (click)="aboutUsImageForm.reset(); selectedAboutUsImage = null">Cancel</button>
  </div>
</form>
  </div>



























  </div>
</section>